*{
	padding: 0;
	margin: 0;
	font-size: 18px;
}
.gal{
	padding-top: 100px;
	background-color: #dae2e9;
}
h3{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
p{
	text-align: center;
	padding: 10px 0px 10px 0px;
}
#conteneur{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

}
img{
	padding:10px 10px;

}
